@charset "UTF-8";

@font-face {
    font-family: '-ontello';
    src: url("../font/-ontello.eot");
    src: url("../font/-ontello.eot?#iefix") format('embedded-opentype'), url("../font/-ontello.woff") format('woff'), url("../font/-ontello.ttf") format('truetype'), url("../font/-ontello.svg#-ontello") format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: '-ontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    opacity: 0.8;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - magrins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up-thin:before { content: '\2191'; } /* '↑' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-quote:before { content: '\275e'; } /* '❞' */
.icon-up-bold:before { content: '\e4af'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-map:before { content: '\e727'; } /* '' */
.icon-up-circled:before { content: '\e75b'; } /* '' */
.icon-up-open-big:before { content: '\e767'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */
.icon-dot:before { content: '\e78b'; } /* '' */
.icon-dot-2:before { content: '\e78c'; } /* '' */
.icon-dot-3:before { content: '\e78d'; } /* '' */
.icon-target:before { content: '🎯'; } /* '\1f3af' */
.icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-shuffle:before { content: '🔀'; } /* '\1f500' */