
/*-----------------------------*\
	CONTENT
\*-----------------------------*/


/*

1.  GLOBAL

2.  BODY
3.  NAVIGATION
4.  HEADER
5.  ABOUT ME
6.  EXPERIENCE
7.  EDUCATION
8.  PORTFOLIO
9.  FOOTER

10.  RESPONSIVE

*/


/*-----------------------------*\
	$GLOBAL
\*-----------------------------*/
.none {
    display: none;
}
html {
    font-size: 16px;
}
body {
    font-size: 62.5%;
}
.borderbtn {
    border-bottom: 1px solid #d4d4d4;
}
.borderleft {
    border-left: 1px solid #d4d4d4;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.aside_el {
    text-align: right;
    padding-right: 5px;
}
.aside_el  h2 {
    font: 2.2em 'Arvo', serif; /* 29px/10 */
    line-height: 0.8em;
    color: #464646;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 0;
}
.aside_el  h5 {
    font: 1.35em 'Droid Sans', sans-serif; /* 14px/10 */
    line-height: 1.2em;
    color: #0099e8;
    font-weight: normal;
}
.par_el {
    padding-left: 30px;
    position: relative;
}
.par_el p {
    font-family: 'Droid Sans', sans-serif; /* 14px/10 */
    font-size: 1.4em;
    line-height: 1.8em;
    color: #8e8d8d;
    text-align: left;
}
.page {
    padding-bottom: 80px;
}

/*-----------------------------*\
	$BODY
\*-----------------------------*/

body {
    background: #b9babe url("../img/body-bg.png") repeat;
}
.wrapper {
    margin: 0; padding: 0;
    width: 100%;
}
.container {
    /* Positioning & Display */
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 320px;
    position: relative;
    /* Color */
    background: #fff url("../img/container-bg.png");
    -webkit-box-shadow: 0px 0px 20px rgba(3, 3, 3, 0.3);
    -moz-box-shadow:    0px 0px 20px rgba(3, 3, 3, 0.3);
    box-shadow:         0px 0px 20px rgba(3, 3, 3, 0.3);
}

/*-----------------------------*\
	$NAVIGATION
\*-----------------------------*/

.site_nav {
    height: 85px;
    font-family: 'Droid Sans', serif;
    z-index: 5000;
    /* Color */
    background: #fff url("../img/container-bg.png");
    -webkit-box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.2);
    -moz-box-shadow:    0px 2px 4px rgba(3, 3, 3, 0.2);
    box-shadow:         0px 2px 4px rgba(3, 3, 3, 0.2);
}
.site_nav ul {
    text-align: center;
    margin: 0; padding: 0;
}
.site_nav li {
    /* Positioning & Display */
    vertical-align: middle;
    margin: 0;
    margin-left: -2px;
    padding: 0 18px;
    display: inline-block;
    /* Elemants */
    border-top: 10px solid transparent;
}
.site_nav a {
    /* Text */
    font-size: 1.6em; /* 16px/10 */
    line-height: 5.3125em;  /* 85px/16px */
    color: #0099e8;
    /* Positioning & Display */
    top: -10px;
    position: relative;
    margin: 0; padding: 0;
    /* Animation */
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.site_nav a:hover {
    text-decoration: none;
    color: #747474;
}
.site_nav li.active {
    border-top: 10px solid #0099e8;
}
.site_nav li.active a {
    color: #747474;
}

/*-----------------------------*\
	$HEADER
\*-----------------------------*/

.site_header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}
.site_header h1 {
    /* Text */
    font: 5em 'Arvo', serif; /* 60px/10 */
    line-height: 0.66666666em; /* 40px/60px */
    font-weight: bold;
    color: #464646;
    /* Positioning & Display */
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 2;
}
#logoline {
    text-align: center;
}
.site_header h1:before,
.site_header h1:after {
    /* Elemants */
    /*border-top: 1px solid #d4d4d4;*/
    content: " ";
    /* Positioning & Display */
    display: block;
    height: 1px;
    width: 32%;
    position: absolute;
    left: 0;
    top: 1em;
    z-index: 1;
}
.site_header h1:after {
    right: 0;
    left: auto;
}
.site_header h2 {
    font: 3.1em 'Arvo', serif; /* 21px/10 */
    font-weight: normal;
    color: #616161;
    margin: 20px 0 0px 0;
}
.site_header h3 {
    font: 2.4em 'Droid Sans', sans-serif; /* 25px/10 */
    line-height: 1.2em; /* 30px/25px */
    font-weight: 400;
    color: #a4a5a6;
    margin-right: 8%;
    margin-left: 8%;
}

/*-----------------------------*\
	$ABOUT ME
\*-----------------------------*/

.about_me {
    margin-top: 50px;
}
.circle {
    /* Positioning & Display */
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: inline;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 4px;
    /* Elemants */
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
    -moz-box-shadow:    0px 0px 15px rgba(3, 3, 3, 0.3);
    box-shadow:         0px 0px 15px rgba(3, 3, 3, 0.3);
    overflow: hidden;
}
.about_me article p:last-child {
    margin-bottom: -3px;
}

.upbtnwrapp {
    display: none;
    text-align: center;
}
.upbtn {
    /* Positioning & Display */
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline;
    position: fixed;
    right: 5px;
    bottom: 5px;
    /* Color */
    background: black;
    opacity: 0.3;
    /* Elemants */
    cursor: pointer;
    margin: 0 auto;
    z-index: 10000;
}
.upbtn span {
    color: white;
    line-height: 48px;
    text-align: center;
    font-size: 35px; /* 30/14 */
    position: relative;
    bottom: 5px;
    right: 18px;
}

/* contact info */
.cont_info {
    padding-left: 5px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.soc ul li {
    display: inline-block;
    width: 18%;
    margin:  0 2% 2% 0;
    float: left;
}
.soc img {
    max-width: 100%;
}
.info {
    margin-top: 50px;
}
.info ul li {
    padding-bottom: 10px;
}
.info ul li span {
    /* Text */
    font-size: 2.4em;  /* 24px/10 */
    color: #222222;
    /* Positioning & Display */
    margin: 0; padding: 0;
    margin-top: -4px;
    position: relative;
}
.info ul li a, .info ul li a:hover {
    font-size: 1.4em; /* 14px/10 */
    color: #959595;
    text-decoration: none;
    line-height: 0em;
    padding-left: 10px;
}

/*-----------------------------*\
	$MY EXPERTISE
\*-----------------------------*/

.my_expertise {
    margin-top: 60px;
}
.skill_level {
    margin-top: 10px;
    padding: 0 12px 0 7px;
}
.skill_level h4{
    /* Text */
    font: 1.4em 'Droid Sans', sans-serif; /* 14px/10 */
    line-height: 1.071428em; /* 15px/14px */
    color: #464646;
    text-align: center;
    font-weight: bold;
    /* Positioning & Display */
    margin-top: -10px;
}

/*-----------------------------*\
	$EXPERIENCE
\*-----------------------------*/

.experience {
    margin-top: 60px;
}
.experience p, .education p {
    /*color: #c0c0c0;*/
    color: #8c8a8a;
}

.period  {
    /* Positioning & Display */
    position: absolute;
    top: 0;
    padding-left: 5px;
    padding-right: 5px;
    /* Text */
   /* font: 1.6em 'Droid Sans', sans-serif;*/ /* 16px/10 */
   font: 1.6em 'helvetica neue', sans-serif;  /* 16px/10 */
    color: black;
    font-weight: 400;
    /* Color */
   /* background-color: #0099e8;*/
}
.bigspacing {
    padding-left: 180px;
}
.par_el header h2 {
    font-family: 'Arvo', serif;
    font-size: 2.3em; /* 23px/10 */
    font-weight: normal;
    line-height: 1em;
    color: #464646;
    margin-top: 0;
}
.par_el header h3 {
    font: 1.8em 'Droid Sans', sans-serif; /* 18px/10 */
    line-height: 0.535714em; /* 15px/28px */
    /*color: #8e8e8e;*/
    color: #555555;
    padding-bottom: 5px;
}
.in_spacing {
    position: relative;
    padding-bottom: 15px;
    padding-right: 10px;
}
.in_spacingbottom {
    position: relative;
    padding-bottom: 0px;
    padding-right: 10px;
}


/*-----------------------------*\
	$EDUCATION
\*-----------------------------*/

.education {
    margin-top: 60px;
}

/*-----------------------------*\
	$PORTFOLIO
\*-----------------------------*/

.portfolio {
    margin-top: 60px;
}

/* galleryContainer */
.galleryContainer {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -10px;
}

/* gallery */
.galleryItem {
    width: 27%;
    margin:  2% 3% 5px 3%;
    float: left;
    -webkit-transition: color 0.5s ease;
}

.galleryItem h3 {
    font: 1.6em 'Droid Sans', sans-serif; /* 16px/10 */
    line-height: 1.125em; /* 18px/16px */
    color: #616161;
    padding-top: 5px;
    -webkit-transition: color 0.5s ease;
}
.galleryItem p {
    font: 1.4em 'Droid Sans', sans-serif; /* 14px/10 */
    line-height: 1em; /* 14px/14px */
    color: #a6abae;
    margin-top: -8px;
    -webkit-transition: color 0.5s ease;
}
.galleryItem img {
    max-width: 100%;
    border: 4px solid white;
    -webkit-box-shadow: 0px 0px 5px rgba(3, 3, 3, 0.3);
    -moz-box-shadow:    0px 0px 5px rgba(3, 3, 3, 0.3);
    box-shadow:         0px 0px 5px rgba(3, 3, 3, 0.3);
}

/*-----------------------------*\
	$FOOTER
\*-----------------------------*/

#contact {
    margin: 0 18px;
}

footer {
    border-top: 1px solid #d4d4d4;
    background: #f0f4f2 url("../img/contact-bg.png") repeat;
    padding-top: 60px;
    padding-bottom: 60px;
}

.comment_form {
    padding: 40px;
    background: #dfdcdf url("../img/form-bg.png") repeat;
    margin-left: 33px;
    margin-right: 15px;
    margin-bottom: 0px;
}
.comment_form fieldset {
    margin-left: -20px;
    margin-right: 2px;
}

.comment_form input {
    /* Positioning & Display */
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 15px;
    /* Elemants */
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #e4e2e2;
}
.comment_form textarea {
    /* Positioning & Display */
    width: 100%;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 12px;
    /* Elemants */
    border: 1px solid #e4e2e2;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {
    color: #464646;
    font: 14px 'Droid Sans', sans-serif;
}
input:-moz-placeholder , textarea:-moz-placeholder{ /* Firefox 18- */
    color: #464646;
    font: 14px 'Droid Sans', sans-serif;
}
input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #464646;
    font: 14px 'Droid Sans', sans-serif;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #464646;
    font: 14px 'Droid Sans', sans-serif;
}

.send-button a, .send-button a:hover {
    /* Text */
    font: 1.4em 'Droid Sans', sans-serif; /* 14px/10 */
    font-weight: normal;
    letter-spacing: -0.5px;
    color: white;
    text-decoration: none;
    margin-right: -20px;
    /* Positioning & Display */
    padding: 10px 35px;
    display: inline-block;
    position: relative;
    margin-right: -20px;
    /* Elemants */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    /* Color */
    background-color: #0093d0;
}

.comment_form ul {
    margin-left: 5px;
    margin-top: -15px;
    margin-bottom: 5px;
}
.comment_form li {
    list-style-type: none;
    font-size: 1.2em; /* 12px/10 */
    color: red;
    margin-left: -3px;
    margin-top: -5px;
}

/*-----------------------------*\
	$RESPONSIVE
\*-----------------------------*/


@media only screen and (max-width: 950px) {
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 870px) {
    .site_header h1:before,
    .site_header h1:after {
        width: 28%;
    }
    .cont_info {
        padding-left: 0px;
    }
    .site_header h3 {
        font: 2em 'Droid Sans', sans-serif; /* 25px/10 */
    }
    .upbtnwrapp {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    #contact {
        padding-top: 20px;
    }
    .site_nav a {
        font-size: 1.6em; /* 16px/10 */
        line-height: 5.3125em;  /* 85px/16px */
    }
    .borderleft {
        border-left: none;
    }
    .site_header {
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .site_header h1 {
        font: 4em 'Arvo', serif; /* 60px/10 */
        line-height: 0.66666666em; /* 40px/60px */
        font-weight: bold;
        color: #464646;
    }
    .site_header h2 {
        font: 1.9em 'Arvo', serif;
    }
    .site_header h3 {
        font: 1.7em 'Droid Sans', sans-serif;
        line-height: 1.2em;
    }
    .aside_el {
        text-align: center;
        padding-right: 0px;
        margin-bottom: 30px;
    }
    .aside_el h5 {
        margin-top: 15px;
    }
    .par_el {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* contact info */
    .cont_info {
        padding-left: 0px;
        margin-top: 40px;
    }
    .soc {
        width: 200px;
        margin: 0 auto;
        overflow: hidden;
    }
    .info {
        padding-top: 20px;
        width: 200px;
        margin: 0 auto;
        overflow: hidden;
    }
    .skill_level {
        margin-top: 10px;
        padding: 0 18px 0 14px;
    }
    .about_me {
        margin-top: 35px;
    }
    .my_expertise {
        margin-top: 35px;
    }
    .experience {
        margin-top: 35px;
    }
    .education {
        margin-top: 35px;
    }
    .portfolio {
        margin-top: 35px;
    }
    footer {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .comment_form {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 630px) {  /****************/
    .site_nav a {
        font-size: 1.4em; /* 16px/10 */
        line-height: 6.071428571428571em;  /* 85px/14px */
    }
    .site_header {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .site_header h1 {
        font: 3em 'Arvo', serif; /* 60px/10 */
        line-height: 0.66666666em; /* 40px/60px */
        font-weight: bold;
        color: #464646;
    }
    .site_header h2 {
        font: 1.7em 'Arvo', serif; /* 21px/10 */
    }
    .site_header h3 {
        font: 1.6em 'Droid Sans', sans-serif; /* 25px/10 */
        line-height: 1.2em; /* 30px/25px */
        margin-top: -15px;
    }
    .aside_el  h2 {
        font: 2em 'Arvo', serif; /* 29px/10 */
        line-height: 0.8em;
        margin-bottom: -10px;
    }
    .aside_el  h5 {
        font: 1.35em 'Droid Sans', sans-serif; /* 14px/10 */
        line-height: 1.1em; /* 14px/14px */
    }
    .cont_info {
        margin-top: 25px;
    }

    .about_me {
        margin-top: 20px;
    }
    .my_expertise {
        margin-top: 25px;
    }
    .experience, .education, .portfolio {
        margin-top: 20px;
    }
    .par_el header h2 {
        font: 1.9em 'Arvo',serif;
        margin-top: 3px;
        padding-top: 2px;

    }
    .par_el header h3 {
        font: 1.4em/0.535714em 'Droid Sans',sans-serif;
        padding-bottom: 5px;
    }

}
@media only screen and (max-width: 540px) {
    .site_nav {
        height: 163px;
        padding-top: 10px;
    }
    .site_nav ul {
        display: block;
    }
    .site_nav li {
        display: block;
        border-top: none;
        margin-left: 0;
        padding: 0;
    }
    .site_nav a {
        font-size: 1.5em; /* 15px/10 */
        line-height: 1.7em;  /* 130px/15px */
        display: block;
        top: 0;
    }

    .cont_info {
        margin-top: 20px;
    }
    .info {
        padding-top: 10px;
    }
    .info ul li {
        padding-bottom: 10px;
    }
    .aside_el {
        margin-bottom: 20px;
    }
    /* galleryContainer */
    .galleryContainer {
        width: 95%;
    }
    /* gallery */
    .galleryItem {
        width: 43.2%;
        margin:  2% 3% 5px 3%;
    }

    .bigspacing {
        padding-left: 0px;
    }
    .period {
        font: 600 1.4em 'Droid Sans',sans-serif;
        right: 20px;
    }
}
@media only screen and (max-width: 480px) {
    #contact {
        padding-top: 15px;
    }
    .site_header {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .site_header h1 {
        font: bold 2.6em 'Arvo',serif;
    }
    .site_header h2 {
        font: 1.5em 'Arvo', serif;
    }
    .site_header h3 {
        font: 1.3em 'Droid Sans', sans-serif;
        line-height: 1.2em; /* 30px/25px */
        margin-top: -15px;
    }
    .aside_el  h2 {
        font: 1.8em 'Arvo', serif; /* 29px/10 */
        line-height: 0.8em;
        margin-bottom: -10px;
    }
    .aside_el  h5 {
        font: 1.5em 'Droid Sans', sans-serif; /* 14px/10 */
        line-height: 1.1em; /* 14px/14px */
    }
    .par_el p {
        font: 1.3em 'Droid Sans', sans-serif; /* 14px/10 */
        color: #8e8d8d;
        text-align: left;
    }
    .par_el header h2 {
        font: 1.6em 'Arvo',serif;
        margin-top: 3px;
        padding-top: 2px;
    }
    .par_el header h3 {
        font: 1.3em 'Droid Sans',sans-serif;
        margin-top: -10px;
    }
    .period {
        font: 600 1.3em 'Droid Sans',sans-serif;
    }
    .galleryItem h3 {
        font: 1.4em 'Droid Sans', sans-serif;
        line-height: 1em;
        padding-top: 5px;
    }
    .galleryItem p {
        font: 1.25em 'Droid Sans', sans-serif;
        line-height: 1em;
        margin-top: -8px;
    }
    .skill_level h4 {
        font: 1.3em 'Droid Sans', sans-serif; /* 14px/10 */
        line-height: 1.071428em; /* 15px/14px */
        margin-top: -10px;
    }
    .page {
        padding-bottom: 40px;
    }
}
@media only screen and (max-width: 420px) {
    /* galleryContainer */
    .galleryContainer {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: -10px;
        text-align: center;
    }

    /* gallery */
    .galleryItem {
        width: 91.3%;
        margin:  20px 3% 5px 3%;
        -webkit-transition: color 0.5s ease;
        float: none;
    }

    .galleryItem h3 {
        font: 1.5em 'Droid Sans', sans-serif; /* 15px/10 */
        line-height: 1em; /* 15px/15px */
        color: #4f6676;
        padding-top: 5px;
        -webkit-transition: color 0.5s ease;
    }
    .galleryItem p {
        font: 1.3em 'Droid Sans', sans-serif; /* 13px/10 */
        line-height: 1em; /* 15px/15px */
        color: #a6abae;
        margin-top: -8px;
        -webkit-transition: color 0.5s ease;
    }

    .comment_form {
        padding: 30px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 360px) {
    .site_header h1 {
        font: bold 2em 'Arvo',serif;
    }
    .period {
        font-size: 1.1em;
    }
    .par_el header h2 {
        font: 1.4em 'Arvo',serif;
        margin-top: 3px;
        padding-top: 2px;
    }
}
/* Retina screens patterns */
@media (-webkit-min-device-pixel-ratio: 2),  (min-resolution: 192dpi) {
    body {
        background: #b9babe url("../img/body-bg@2x.png") repeat;
    }
    .container, .site_nav {
        background: url("../img/container-bg@2x.png");
    }
    footer {
        background: #f0f4f2 url("../img/contact-bg@2x.png") repeat;

    }
    .comment_form {
        background: #dfdcdf url("../img/form-bg@2x.png") repeat;
    }
}
